@import "bourbon";

/* --------------------------------
   Variables   
----------------------------------- */

/* Button colour */
$link-color:  #0088cc;
$btn-default: #f5f5f5;
$btn-primary: #006dcc;
$btn-info   : #49afcd;
$btn-success: #5bb75b;
$btn-warning: #faa732;
$btn-danger : #da4f49;
$btn-inverse: #363636;

/* Layout */
$body-bg: #3a9bd9;
$content-bg: #fff;
$footer-bg: #333;
$footer-color: #e9eef2;
$nav-bg: #fafafa;
$nav-hover: #e9eef2;
$menu-color: #777;
$border-radius: 6px; 
$border-color: #e9eef2;
$shadow-color: #9fabb3;

/* elements */
$logo-color: #fff;
$link-color: #006dcc;
$text-color: #333;




/* --------------------------------
   Buttons
----------------------------------- */

/* Base colour */
.btn-default {&,&:hover,&:focus,&:active,&.active { background-color: $btn-default !important;}}
.btn-primary {&,&:hover,&:focus,&:active,&.active { background-color: $btn-primary !important;}}
.btn-success {&,&:hover,&:focus,&:active,&.active { background-color: $btn-success !important;}}
.btn-info    {&,&:hover,&:focus,&:active,&.active { background-color: $btn-info    !important;}}
.btn-warning {&,&:hover,&:focus,&:active,&.active { background-color: $btn-warning !important;}}
.btn-danger  {&,&:hover,&:focus,&:active,&.active { background-color: $btn-danger  !important;}}
.btn-inverse {&,&:hover,&:focus,&:active,&.active { background-color: $btn-inverse !important;}}

 /* Hover */
.btn-default:hover { background-color: lighten($btn-default, 10% ) !important; }
.btn-primary:hover { background-color: lighten($btn-primary, 10% ) !important; }
.btn-info:hover    { background-color: lighten($btn-info,    10% ) !important; }
.btn-success:hover { background-color: lighten($btn-success, 10% ) !important; }
.btn-warning:hover { background-color: lighten($btn-warning, 10% ) !important; }
.btn-danger:hover  { background-color: lighten($btn-danger , 10% ) !important; }
.btn-inverse:hover { background-color: lighten($btn-inverse, 10% ) !important; }



#fancy {
  .btn { 
    /* Gradient global */
    @include background-image(linear-gradient(rgba(255,255,255,0.3), transparent, rgba(0,0,0,0.13)));

    /* Shadow */
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 1px rgba(0, 0, 0, 0.075);      

    /* Text-shadow */
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);                                               

    /* Border */  
    border-color: rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.5) !important;
    }
  }



#edge { 
  .btn {
    border-radius: 0;
    border-bottom: 3px solid;
    overflow: hidden;
    position: relative;
    }
  
  .btn:before {
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    border-top: 33px solid rgba(255,255,255,0.4);
    border-right: 40px solid transparent;
    @include transition (all 200ms ease);
    -moz-transform: scale(.9999); /* FF rough edge fix */
    }
    .btn-lg:before {
      border-top-width: 45px;
      border-right-width: 60px;
      }
    .btn-sm:before {
      border-top-width: 30px;
      border-right-width: 35px;
      }
    .btn-xs:before {
      border-top-width: 20px;
      border-right-width: 26px;
      }
    .btn-link:before { display: none; }
  
    .btn:hover:before { 
      left: -100px; 
      }
  
  
  
  .btn-default { border-color: darken($btn-default, 25% ); }
  .btn-primary { border-color: darken($btn-primary, 25% ); }
  .btn-info    { border-color: darken($btn-info,    25% ); }
  .btn-success { border-color: darken($btn-success, 25% ); }
  .btn-warning { border-color: darken($btn-warning, 25% ); }
  .btn-danger  { border-color: darken($btn-danger , 25% ); }
  .btn-inverse { border-color: darken($btn-inverse, 25% ); }
}



#round .btn {
  border-radius: 250px; 
  }



#ghost { 
   
  .content-inner { 
    background: #404040; 
    color: $btn-warning;  
    box-shadow: 0 1px 0 #000 inset, 0 1px 1px #000; 
    }
  
  .page-header { background: #222; border-color: #000; }
  
  .btn {
    background: transparent !important;
    border-width: 2px;
    border-radius: 0;
    }

  .btn-default { color: darken($btn-default, 100% ); border-color: darken($btn-default, 100% ); 
    &:hover { background: darken($btn-default, 100% ) !important; color: lighten($btn-default, 100% );} } 
 
  .btn-primary { color: $btn-primary; border-color: $btn-primary;
       &:hover { background: $btn-primary !important; color: lighten($btn-primary, 100% );} }
  
  .btn-info    { color: $btn-info; border-color: $btn-info; 
       &:hover { background: $btn-info !important; color: lighten($btn-info, 100% );} }
  
  .btn-success { color: $btn-success; border-color: $btn-success;
       &:hover { background: $btn-success !important; color: lighten($btn-success, 100% );} }
    
  .btn-warning { color: $btn-warning; border-color: $btn-warning;
       &:hover { background: $btn-warning !important; color: lighten($btn-warning, 100% );} }    
    
  .btn-danger  { color: $btn-danger;  border-color: $btn-danger;
       &:hover { background: $btn-danger !important; color: lighten($btn-danger, 100% );} }  
    
  .btn-inverse { color: lighten($btn-inverse, 100% ); border-color: lighten($btn-inverse, 100% ); 
    &:hover { background: lighten($btn-inverse, 100% ) !important; color: darken($btn-inverse, 100% );} } 
}


.btn-inverse,
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse:focus { color: #fff; }

.btn.btn-link { 
  background-image: none !important; 
  border: 0 !important;
  box-shadow: none !important;
  text-shadow: none !important
}



